#container2 {
    font-family: 'Kalpurush', Arial, sans-serif !important;
}

/* small devices (landscape mobile, 768px and down) */

@media only screen and (max-width: 767px) {
    #container2 {
        height: 220px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #container2 {
        height: 220px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1370px) {
    #container2 {
        height: 240px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1371px) {
    #container2 {
        height: 320px;
    }
}
